<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218422031515-95aeeu7614fdbqi1leeted0513heod83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218422031515-95aeeu7614fdbqi1leeted0513heod83</string>
	<key>API_KEY</key>
	<string>AIzaSyB9ou-GMOwKBvvuk9L6Q1tl5mJpg5ZBDcU</string>
	<key>GCM_SENDER_ID</key>
	<string>218422031515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vitalPulse</string>
	<key>PROJECT_ID</key>
	<string>vitalpulse-ce830</string>
	<key>STORAGE_BUCKET</key>
	<string>vitalpulse-ce830.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218422031515:ios:68a442cf2c0f9d86c8823e</string>
</dict>
</plist>